
<form method="post" asp-action="AdminSecurity">
    <div class="carDetailsDiv">
        <span class="control-label carLabel">Security PassCode : </span> <input type="password" name="SecurityCode" class="form-control formInput" />
        <span class="text-danger">@ViewBag.ErrorMessage</span>
        <button type="submit" class="btn btn-danger formSubmit">Varify</button>
    </div>
</form>