@*<div class="container-fluid">
    <img class="fullScreen" src="https://cdn.dribbble.com/users/1853808/screenshots/6982024/media/099a7c3ac844878600ba31be8374cf44.png" />
</div>*@
<div class="row">
    <div class="col-8 offset-2">
        <img class="maxWidth" src="https://previews.123rf.com/images/yupiramos/yupiramos1708/yupiramos170812317/83821420-page-not-found-404-error-vector-icon-illustration-design-graphic.jpg" />
    </div>
</div>