<div>
    <partial name="_LockedAdminNavBar" />
</div>
<div class="row">
    <div class="col-8 offset-3">
        <img class="width80" src="https://image.shutterstock.com/image-vector/tiny-male-characters-huge-blocked-260nw-1990914881.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-12 ml-5 text-center text-primary">
        <h1>Please wait until your account is verified</h1>
    </div>
</div>