@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid row">
    <img src="https://cdn2.vectorstock.com/i/thumb-large/03/31/unauthorized-access-rgb-color-icon-vector-33390331.jpg" class="error-img col" />
    <span class="error-text col">
        ACCESS DENIED <br />Please Login again to continue
        <button type="button" class="btn btn-primary btn-lg " onclick="location.href='@Url.Action("SignIn", "home")';return false;">Sign In</button>
    </span>


</div>