<div >
    @Html.Partial("_NavBar")
</div>
<div class="fullScreen backgroundImage">
</div><div class="bg-text">
          <center>
              <h5 class="font-italic">" Hire the best car at the best price "</h5>
              <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("RentCar", "home")';return false;">Rent Out Now</button>
          </center>
    </div>
