@using Microsoft.AspNetCore.Http;
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand brandName" asp-action="AdminPortal">Drive Way</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" asp-action="CarList" aria-current="page">Cars</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="CarModelList">Car Models</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <label class="text-light">Welcome @Context.Session.GetString("_userName")</label>
                <li class="nav-item">
                    @if (Context.Session.GetString("_avatarUrl") != "0")
                    {

                        <a asp-action="UserProfile" asp-controller="Home"><img src="@Context.Session.GetString("_avatarUrl")" alt="Avatar" class="avatar"></a>
                    }
                    else
                    {
                        <a asp-action="UserProfile" asp-controller="Home"><img src="https://www.dcrc.co/wp-content/uploads/2019/04/blank-head-profile-pic-for-a-man.jpg" alt="Avatar" class="avatar"></a>
                    }
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-danger right-btn" onclick="location.href='@Url.Action("Logout", "home")';return false;">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>